@import "../../.cache/wal/colors-waybar.css"; 

@define-color backgroundlight #FFFFFF;
@define-color backgrounddark @color11;
@define-color workspacesbackground1 #FFFFFF;
@define-color workspacesbackground2 @color11;
@define-color bordercolor #FFFFFF;
@define-color textcolor1 #FFFFFF;
@define-color textcolor2 @color11;
@define-color textcolor3 #000000;
@define-color iconcolor #FFFFFF;

* {
  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: rgba(0,0,0,0.8);
  border-bottom: 0px solid #ffffff;
  background: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}


window#waybar.empty #window {
  background-color:transparent;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#workspaces {
  background: @workspacesbackground1;
  margin: 2px 1px 3px 1px;
  padding: 0px 1px;
  border-radius: 15px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  opacity: 0.8;
}

#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0px;
  color: @textcolor1;
  background-color: @workspacesbackground2;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active {
  background: @workspacesbackground2;
  border-radius: 15px;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
  opacity:1.0;
}

#workspaces button:hover {
  background: @workspacesbackground2;
  border-radius: 15px;
  opacity:0.7;
}

#custom-arch {
  color: @workspacesbackground2;
  margin-left: 5px;
  padding: 0 10px;
  font-size: 25px;
  transition: color .5s;
}

#custom-updates {
  background-color: @backgroundlight;
  color: @textcolor3;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 10px;
  opacity:0.8;
}

#custom-updates.green {
  background-color: @backgroundlight;
}

#custom-updates.yellow {
  background-color: #ff9a3c;
  color: #FFFFFF;
}

#custom-updates.red {
  background-color: #dc2f2f;
  color: #FFFFFF;
}

#disk,#memory,#cpu,#temperature {
  margin:0px;
  padding:0px;
  color: @textcolor1;
}

/* -----------------------------------------------------
* Clock
* ----------------------------------------------------- */

#clock {
  background-color: @workspacesbackground2;
  color: @textcolor1;
  border-radius: 15px;
  padding: 1px 10px 0px 10px;
  margin: 3px 0px 3px 0px;
  opacity:0.8;
  border:3px solid @bordercolor;   
}

/* -----------------------------------------------------
* Backlight
* ----------------------------------------------------- */

#backlight {
  background-color: @backgroundlight;
  color: @textcolor3;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity:0.8;
}

/* -----------------------------------------------------
* Pulseaudio
* ----------------------------------------------------- */

#pulseaudio {
  background-color: @backgroundlight;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity:0.8;
}

#pulseaudio.m{
  background-color: @backgrounddark;
  color: @textcolor1;
}

/* -----------------------------------------------------
* Network
* ----------------------------------------------------- */

#network {
  background-color: @backgroundlight;
  color: @textcolor3;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity:0.8;
}

#network.ethernet {
  background-color: @backgroundlight;
  color: @textcolor3;
}

#network.wifi {
  background-color: @backgroundlight;
  color: @textcolor3;
}

/* -----------------------------------------------------
* Battery
* ----------------------------------------------------- */

#battery {
  background-color: @backgroundlight;
  color: @textcolor3;
  border-radius: 15px;
  padding: 2px 15px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity:0.8;
}

#battery.charging, #battery.plugged {
  color: @textcolor3;
  background-color: @backgroundlight;
}

@keyframes blink {
to {
  background-color: @backgroundlight;
  color: @textcolor3;
}
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: @textcolor3;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-power {
  margin: 0px 13px 0px 0px;
  font-size: 15px;
  color: @iconcolor;
  opacity: 0.8;
}

#custom-quit,#custom-lock,#custom-reboot {
  margin: 0px 13px 0px 10px;
  font-size: 15px;
  color: @iconcolor;
  opacity: 0.8;
}
/* -----------------------------------------------------
* Wallpaper
* ----------------------------------------------------- */

#custom-wallpaper {
  background-color: @backgroundlight;
  color: @textcolor3;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 5px 5px 5px 0px;
  opacity:0.8;
}
