@import "../../.cache/wal/colors-waybar.css"; 

@define-color background #000000;
@define-color highlight @color1;
@define-color workspace @color2;
@define-color textcolor #FFFFFF;

/* Waybar - general */
* {
  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  border: none;
  border-radius: 0px;
  color: @textcolor;
}

window#waybar {
  background: @background;
  border-bottom: 0px solid #ffffff;
  transition-property: background;
  border-radius: 5px 5px 5px 5px;
  opacity: 1;
  transition-duration: .5s;
}

window#waybar.empty #window {
  background: transparent;
}

/* Modules - left */
#workspaces {
  background: transparent;
}

#workspaces button {
  all: initial;
  padding: 5px 15px 5px 15px;
  margin: 6px 3px 6px 3px;
  border-radius: 5px;
  background: @workspace;
}

#workspaces button:first-child {
  margin-left: 10px; /* avoid increasing the margin between buttons */
}
#workspaces button.active { }

/* Modules - middle */
#clock {
  padding: 5px 15px 5px 15px;
  margin: 6px 3px 6px 3px;
  border-radius: 5px;
  background: @highlight;
}

/* Modules - right */
#custom-updates {
  padding: 5px 15px 5px 15px;
  margin: 6px 3px 6px 3px;
  border-radius: 5px;
  background: @box1;
}

#group-status {
  padding: 5px 15px 5px 15px;
  margin: 6px 3px 6px 3px;
  border-radius: 5px;
}

#pulseaudio {
  padding: 5px 15px 5px 15px;
  margin: 6px 3px 6px 3px;
  border-radius: 5px;
}
#pulseaudio.m { }

#network {
  padding: 5px 15px 5px 15px;
  margin: 6px 3px 6px 3px;
  border-radius: 5px;
}
#network.ethernet { }
#network.wifi { }

#battery {
  padding: 5px 15px 5px 15px;
  margin: 6px 3px 6px 3px;
  border-radius: 5px;
}
#battery.charging, #battery.plugged { }
@keyframes blink { to { } }
#battery.critical:not(.charging) {
  background: #f53c3c;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-menu {
  padding: 5px 15px 5px 15px;
  margin: 6px 10px 6px 3px;
  border-radius: 5px;
  background: @highlight;
}

